# Copiar a .env para personalizar. docker compose lo lee automáticamente.
POSTGRES_DB=banco
POSTGRES_USER=banco
POSTGRES_PASSWORD=cambiar-esta-clave
DB_PORT=5433
API_PORT=8080
WEB_PORT=4200
BANCO_LIMITE_DIARIO_RETIRO=1000.00
BANCO_ZONA_HORARIA=America/Guayaquil
